<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.finogeeks.finclip.demo</key>
	<array>
		<dict>
			<key>appKey</key>
			<string>22LyZEib0gLTQdU3MUauATBwgfnTCJjdr7FCnywmAEM=</string>
			<key>appSecret</key>
			<string>bdfd76cae24d4313</string>
			<key>apiServer</key>
			<string>https://api.finclip.com</string>
			<key>cryptType</key>
			<string>MD5</string>
		</dict>
		<dict>
			<key>appKey</key>
			<string>22LyZEib0gLTQdU3MUauAUJPk2mIMV4Hq+tBzQxTSqhndG2JOPsS9yA5fww36gSp</string>
			<key>appSecret</key>
			<string>1e9b3d1693d06fa1</string>
			<key>apiServer</key>
			<string>https://finclip-testing.finogeeks.club</string>
			<key>cryptType</key>
			<string>SM</string>
		</dict>
	</array>
</dict>
</plist>
